<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página da Empresa</title>

    <script defer src="../main.js"></script>
    <link rel="stylesheet" href="../common/css/styles.css">

</head>

<body>
    <h1>Empresa</h1>
    <section class="content">
        <form id="company-sign-up-form">
            <h2>Sign Up</h2>
            <div class="form-content">
                <div class="form-labels">
                    <label for="company-name">Nome: </label>
                    <input required class="sign-up-entry" id="company-name" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-description">Descrição: </label>
                    <textarea required class="sign-up-entry" id="company-description" type="text"></textarea>
                </div>
                <div class="form-labels">
                    <label for="company-email">Email: </label>
                    <input required class="sign-up-entry" id="company-email" type="email">
                </div>
                <div class="form-labels"></div>
                <label for="company-linkedin">Linkedin URL: </label>
                <input class="sign-up-entry" id="company-linkedin" type="url">
            </div>
            <div class="form-labels"></div>
                <label for="company-phone">Telefone: </label>
                <input required class="sign-up-entry" id="company-phone" type="tel">
            </div>
                <div class="form-labels">
                    <label for="company-cnpj">CNPJ: </label>
                    <input required class="sign-up-entry" id="company-cnpj" type="text">
                </div>
                <div class="form-labels">
                    <label for="company-address-street">Logradouro: </label>
                    <input required class="sign-up-entry" id="company-address-street" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-address-number">N°: </label>
                    <input required class="sign-up-entry" id="company-address-number" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-address-district">Bairro: </label>
                    <input required class="sign-up-entry" id="company-address-district" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-address-city">Cidade: </label>
                    <input required class="sign-up-entry" id="company-address-city" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-address-state">Estado: </label>
                    <input required class="sign-up-entry" id="company-address-state" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="company-address-zip">CEP: </label>
                    <input required class="sign-up-entry" id="company-address-zip" type="text">
                </div>
            </div>
            <button class="sign-up-button" id="company-sign-up-button" type="submit">Sign Up</button>
        </form>
        
        <form id="company-login-form">
            <h2>Log In</h2>
            <div class="form-labels">
                <label for="company-email-login">Email</label>
                <input id="company-email-login" type="email" placeholder="company@example.com"> 
            </div>
            <button class="login-button" id="company-login-button" type="submit">Log In</button>
        </form>
    </section>
</body>

</html>