:root {
    --primary-color: #6995ee;
    --secondary-color: #ccdaf7;
    --title-color:#0e1044;
    --background-color: rgb(255, 255, 255);
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}

.content {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}

form {
    background-color: var(--secondary-color);
    border: solid 2px var(--primary-color);
    padding: 20px;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

#candidate-sign-up-form h2,
#candidate-login-form h2 {
    margin: 0 0 10px 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-labels {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.form-labels label {
    display: inline-block;
    width: 70px;
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    margin: 10px auto;
    width: 100px;
    height: 50px;
    font-weight: bold;
}

button:hover {
    border: solid 2px var(--primary-color);
    background-color: #ffffff;
    color: var(--primary-color);
}

.profile {
    border: solid 2px var(--secondary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    max-width: 500px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.profile-entry {
    display: flex;
    flex-direction: row;
}

.profile-entry div {
    font-weight: 600;
    color: white;
    min-height: 30px;
    flex: 1 1 50px;
}