<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Candidato</title>

    <script defer src="../main.js"></script>
    <link rel="stylesheet" href="../common/css/styles.css">

</head>

<body>
    <h1>Candidato</h1>
    <section class="content">
        <form id="candidate-sign-up-form">
            <h2>Sign Up</h2>
            <div class="form-content">
                <div class="form-labels">
                    <label for="candidate-name">Nome: </label>
                    <input class="sign-up-entry" id="candidate-name" type="text">
                </div>
                <div class="form-labels">
                    <label for="candidate-email">Email: </label>
                    <input class="sign-up-entry" id="candidate-email" type="email">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-linkedin">Linkedin URL: </label>
                    <input class="sign-up-entry" id="candidate-linkedin" type="url">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-phone">Telefone: </label>
                    <input class="sign-up-entry" id="candidate-phone" type="tel">
                </div>
                <div class="form-labels">
                    <label for="candidate-age">Idade: </label>
                    <input class="sign-up-entry" id="candidate-age" type="number">
                </div>
                <div class="form-labels">
                    <label for="candidate-cpf">CPF: </label>
                    <input class="sign-up-entry" id="candidate-cpf" type="text">
                </div>
                <div class="form-labels">
                    <label for="candidate-description">Bio: </label>
                    <textarea class="sign-up-entry" id="candidate-description" type="text"></textarea>
                </div>
                <div class="form-labels">
                    <label for="candidate-address-street">Logradouro: </label>
                    <input class="sign-up-entry" id="candidate-address-street" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-address-number">N°: </label>
                    <input class="sign-up-entry" id="candidate-address-number" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-address-district">Bairro: </label>
                    <input class="sign-up-entry" id="candidate-address-district" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-address-city">Cidade: </label>
                    <input class="sign-up-entry" id="candidate-address-city" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-address-state">Estado: </label>
                    <input class="sign-up-entry" id="candidate-address-state" type="text">
                </div>
                <div class="form-labels"></div>
                    <label for="candidate-address-zip">CEP: </label>
                    <input class="sign-up-entry" id="candidate-address-zip" type="text">
                </div>
                <div class="form-labels">
                    <label for="candidate-education">Educação: </label>
                    <input class="sign-up-entry" id="candidate-education" type="text">
                </div>
                <div class="form-labels">
                    <label for="candidate-skills">Habilidades: </label>
                    <input class="sign-up-entry" id="candidate-skills" type="text">
                </div>
            </div>
            <button class="sign-up-button" id="candidate-sign-up-button" type="submit">Sign Up</button>
        </form>
        
        <form id="candidate-login-form">
            <h2>Log In</h2>
            <div class="form-labels">
                <label for="candidate-email-login">Email</label>
                <input id="candidate-email-login" placehoder="johndoe@example.com">
            </div>
            <button class="login-button" id="candidate-login-button" type="submit">Log In</button>
        </form>
    </section>
</body>

</html>