<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <script defer src="./main.js"></script>
    <link rel="stylesheet" href="./common/css/styles.css">

</head>

<body>
    <div id="index-page-parent">
        <div id="index-page">
            <section class="index-section" id="candidate-index">
                <a href="./candidate/index.html">
                    <div>Candidate Signup</div>
                </a>
            </section>
            <section class="index-section" id="company-index">
                <a href="./company/index.html">
                    <div>Company Signup</div>
                </a>
            </section>
        </div>
    </div>
</body>

</html>